/* Estilos generales */

.NoVisitar {
  background-image: url("../../public/img territorios/HomeFinal.png");
  background-size: contain;
  background-repeat: repeat-y;
  width: 100%;
  font-family: "Fugaz One", "Paytone One";
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Texto {
  font-family: "Paytone One";
  font-size: large;
}

footer {
  padding: 1px;
  background-color: rgb(253, 239, 225);
}

#Horarios {
  font-size: larger;
  color: #000;
  font-family: "Paytone One";
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.sidebar {
  font-family: "Fugaz One";
  background-color: #beb49e; /* Color de fondo del sidebar */
  height: 100vh;
  width: 200px; /* Ancho del sidebar */
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: block; /* Por defecto, el sidebar se muestra */
}

.visibleSideBar {
  display: block; /* Muestra el elemento */
}

.hiddenSideBar {
  display: none; /* Oculta el elemento */
}

.visibleContent {
  margin: 0 0 0 200px;
}

.hiddenContent {
  margin: 0 auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 8px 16px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #927e61; /* Cambia el color de fondo al pasar el mouse */
}

.toggle-btn {
  position: fixed;
  top: 80px;
  right: 60px;
  z-index: 999;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.toggle-btn img {
  width: 60px;
  height: auto;
}

.welcome {
  background: #62815f;
}

a:visited {
  color: rgb(255, 253, 253); /* Cambia el color del enlace visitado */
}

/* Media Queries para dispositivos móviles */

@media (max-width: 768px) {
  .sidebar {
    width: 100px; /* Reducir el ancho del sidebar */
  }

  .visibleContent {
    margin: 0; /* Ajustar el margen para el contenido visible */
  }

  .toggle-btn {
    right: 10px; /* Mover el botón de toggle a la derecha */
    top: 5px;
  }

  .toggle-btn img {
    width: 50px;
  }

  #Texto, #Horarios {
    font-size: medium; /* Ajustar el tamaño de fuente para pantallas pequeñas */
  }

  .NoVisitar {
    font-size: medium; /* Ajustar el tamaño de fuente para pantallas pequeñas */
  }

  footer {
    padding: 10px; /* Aumentar el padding para dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none; /* Ocultar el sidebar en pantallas muy pequeñas */
  }

  .toggle-btn {
    display: block; /* Asegurarse de que el botón de toggle esté visible */
    right: 10px; /* Mover el botón de toggle a la derecha */
    top: 5px;
  }

  .toggle-btn img {
    width: 50px;
  }

  .visibleContent {
    margin: 0; /* Ajustar el margen para el contenido visible */
  }

  #Texto, #Horarios {
    font-size: small; /* Ajustar el tamaño de fuente para pantallas muy pequeñas */
  }

  .NoVisitar {
    font-size: small; /* Ajustar el tamaño de fuente para pantallas muy pequeñas */
  }
}
