/* componentes/Sidebar.css */

.sidebar {
    font-family: "Fugaz One";
    background-color: #beb49e; /* Color de fondo del sidebar */
    height: 100vh;
    width: 200px; /* Ancho del sidebar */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: transform 0.3s ease; /* Transición para suavizar el movimiento */
    transform: translateX(0); /* Por defecto, el sidebar se muestra */
  }
  
  .visibleSideBar {
    transform: translateX(0); /* Muestra el sidebar */
  }
  
  .hiddenSideBar {
    transform: translateX(-100%); /* Oculta el sidebar moviéndolo fuera de la vista */
  }
  
  .logoutButton {
    color: white; /* Cambia el color del texto a blanco */
    background-color: transparent; /* Hace que el fondo del botón sea transparente */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .logoutButton:hover {
    background-color: #927e61; /* Cambia el color de fondo al pasar el mouse */
  }
  .cartel{
    z-index: 1000;
    padding: 5px;
    border: 1px  #beb49e;
    font-size: 20px;
    background:  #beb49e;
    text-align: center;
    color:white;
    /* Añadir nuevas propiedades para centrar */
  
  }
  

  #prevButton {
    border: none;
    z-index: 999; /* Asegura que el botón esté en la parte superior */  
    padding: 1;
    cursor: pointer;
    margin-right: 5px;
  }
  
  #nextButton {
    border: none;
    z-index: 999; /* Asegura que el botón esté en la parte superior */  
    padding: 1;
    cursor: pointer;
    
  }